@import './settings.less';
@speed: 0.5s;

html,
body,
#app {
    height: 100%;
}

.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    overflow: hidden;
}

/*向上滑动*/
@keyframes slideInTop {
    from {
        transform: translate3d(0, 100%, 0);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 1;
    }

    to {
        transform: translate3d(0, 0, 0);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 1;
    }
}

@keyframes slideInBottom {
    from {
        transform: translate3d(0%, 0, 0);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 1;
    }

    to {
        transform: translate3d(0, -100%, 0);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 1;
    }
}

.slide-top-enter-active {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 20px;
    height: 100vh;
    animation: slideInTop @speed linear forwards;
}

.slide-top-leave-active {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 20px;
    height: 100vh;
    animation: slideInBottom @speed linear forwards;
}

/*向下滑动*/
@keyframes slideOutBottom {
    from {
        transform: translate3d(0, -100%, 0);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 1;
    }

    to {
        transform: translate3d(0%, 0, 0);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 1;
    }
}

@keyframes slideOutTop {
    from {
        transform: translate3d(0%, 0, 0);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 1;
    }

    to {
        transform: translate3d(0, 100%, 0);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 1;
    }
}

.slide-bottom-enter-active {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 20px;
    height: 100vh;
    animation: slideOutBottom @speed linear forwards;
}

.slide-bottom-leave-active {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 20px;
    height: 100vh;
    animation: slideOutTop @speed linear forwards;

}






/*向左滑动*/
@keyframes slideInLeft {
    from {
        transform: translate3d(100%, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }

    to {
        transform: translate3d(0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(0%, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }

    to {
        transform: translate3d(-100%, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
}

.slide-left-enter-active {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 20px;
    width: 100vw;
    animation: slideInLeft @speed linear forwards;
}

.slide-left-leave-active {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 20px;
    width: 100vw;
    animation: slideInRight @speed linear forwards;
}

/*向右滑动*/
@keyframes slideOutRight {
    from {
        transform: translate3d(-100%, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }

    to {
        transform: translate3d(0%, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0%, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }

    to {
        transform: translate3d(100%, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
}

.slide-right-enter-active {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 20px;
    width: 100vw;
    animation: slideOutRight @speed linear forwards;
}

.slide-right-leave-active {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 20px;
    width: 100vw;
    animation: slideOutLeft @speed linear forwards;

}


.slide-none-enter-active {}

.slide-none-leave-active {}


.animate__animated{
    position: absolute;
    top: 0;
    left: 0%;
    width:100%;
    padding:20px;
}




.el-header {
    background-color: #fff;
    color: @fontGrey;
    text-align: center;
    height:50px!important;
    line-height: 50px;
  
}

.el-aside {
    width: 250px !important;
    background: @mainColor;
}

.el-main {
    background-color: #fff;
    color: #333;
    height: 100%;
    position: relative;
}


.el-container {
    height: 100%;
}




.hope_info {
    // width:100%;
    // height:300px;
    // background:@subColor - #111;
    .logo {
        width: 100%;
        height: 50px;
        background: @brightColor;
        text-align: center;
        color:@fontWhite;
        font-size:20px;
        line-height:50px;
    }
}

.menu_list {
    .box {
        width: 90%;
        height: 60px;
        line-height: 60px;
        padding-left: 10%;
        border-bottom: 1px solid @subColor;
        cursor: pointer;

        &::last-child {
            border: none;
        }

        * {
            vertical-align: middle;
        }

        span {
            color: @fontGrey;
            font-size: 12px;
           
        }

        &:hover {
            background-color:@subColor;
            span {
                color: @brightColor;
            }
        }
    }
}